<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter note</title>
</head>
<body>
    <h2>Saisir une note</h2>
    <form action="">
        <label for="prenom">Prénom : </label>
        <input type="text" id="prenom" name="prenom" required>
        <br>
        <label for="note">Note : </label>
        <input type="text" id="note" name="note" required>
        <br>
        <button><a href="/note-maths/lire">Retour</a></button>
        <button type="submit" style="margin-top: 5px;">Enregistrer</button>
    </form>
</body>
</html>

<style>
    html {
        background-color: #fffbea;
    }
</style>