<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Accueil</title>
	</head>
	<body>
		<h1>Accueil</h1>
		<%
		try {
			if (user) {
		%>
				<p>Vous êtes connectés en tant que : <b> <%= user.username %> </b></p>
			<% } else { %>
				<p>User not found</p>
			<% } %>
			<a href="/note-maths/lire">Note de maths</a>
		<%
		} catch (e) {
			console.error('Error: ', e);
			%>
				<p>Some error occurred</p>
		<% } %>
	</body>
<style>
	html {
		background-color: #fffbea;
	}
</style>
</html>
