<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Keycloak Example</title>
	</head>
	<body>
		<h1>Les notes de maths</h1>
		<% for (var i = 0; i < noteMaths.length; i++) { %>
		<p><%= noteMaths[i] %></p>
		<% } %>
	</body>
</html>
